* {
    box-sizing: border-box;
}
.main {
    position: relative;
    width: 1500px;
    height: 1000px;
    overflow: hidden;
}

/*Cloud*/

.cloud {
    position: absolute;
}

.bottom-cloud {
    position: relative;
    top: 200px;
    left: 500px;
    width: 350px;
    height: 135px;
    background-color: gray;
    border-radius: 100px;
  }

  .right-cloud {
    position: absolute;
    top: 155px;
    left: 700px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: gray;
  }

  .left-cloud {
    position: absolute;
    top: 120px;
    left: 550px;
    width: 190px;
    height: 190px;
    border-radius: 100%;
    background-color: gray;
  }

  /*Sun*/

  .sun {
    position: absolute;
    width: 200px;
    height: 200px;
    background: yellow;
    border-radius: 50%;
    }

    /*Mountain*/

    .mountain {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid #24375B;
    }