* {
  box-sizing: border-box;
}
.main {
  position: relative;
  display: block;
  width: 1200px;
  height: 900px;
  background-color: #fff;
  border: 3px gray solid;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;

}

/*Cloud*/

.cloud {
  position: absolute;
  top: 525px;
  left: 350px;
  height: 110px;
  width: 175px;
  transform: translateX(485%);
  animation-name: first-cloud;
  animation-timing-function: ease-in-out;
  animation-duration: 15s;
}

.bottom-cloud {
  position: absolute;
  top: 35%;
  left: 0px;
  width: 100%;
  height: 64%;
  background-color: gray;
  border-radius: 100px;
}

.right-cloud {
  position: absolute;
  top: 12%;
  left: 53%;
  width: 28%;
  height: 45%;
  border-radius: 100%;
  background-color: gray;
}

.left-cloud {
  position: absolute;
  top: 0px;
  left: 11%;
  width: 55%;
  height: 88%;
  border-radius: 100%;
  background-color: gray;
}

.cloud.cloud-second {
  animation-duration: 18s;
}

.cloud.cloud-small-first {
  height: -50%;
  width: -50%;
  animation-duration: 10s;
}

/*Sun*/

.sun {
  position: absolute;
  width: 130px;
  height: 130px;
  background: yellow;
  border-radius: 50%;
  top: 610px;
  left: 615px;
  transform: translateY(100%);
  animation-name: sunset;
  animation-timing-function: ease-in-out;
  animation-duration: 18s;
  animation-fill-mode: forwards;
  animation-delay: -500ms;
}

/*Mountain*/

.mountain {
  position: absolute;
  top: 600px;
  left: 50px;
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 300px solid #24375B;
  z-index: 1;

}

  .mountain.small {
    top: 670px;
    left: 315px;
}

  .mountain.mountain-right {
    top: 600px;
    left: 520px;
}

  @keyframes sunset {
    0% {
      transform: translateY(100%);
      background-color: orange;
    }
    50% {
      transform: translateY(-570%);
      background-color: yellow;
    }
    100% {
      transform: translateY(100%);
      background-color: orange;
    }
  }

  @keyframes first-cloud {
    0% {
      transform: translateX(485%);
    }
    50% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(485%);
    }
  }