* {
  box-sizing: border-box;
}
.main {
  position: relative;
  display: block;
  width: 1200px;
  height: 900px;
  background-color: #fff;
  border: 3px gray solid;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;

}

/*Cloud*/

.cloud {
  position: relative;
  top: 525px;
  left: 350px;
  transform: translateX(71%);
  animation-name: first-cloud;
  animation-timing-function: ease-in-out;
  animation-duration: 18s;
}

.bottom-cloud {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 175px;
  height: 67px;
  background-color: gray;
  border-radius: 100px;
}

.right-cloud {
  position: absolute;
  top: 15px;
  left: 90px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: gray;
}

.left-cloud {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 95px;
  height: 95px;
  border-radius: 100%;
  background-color: gray;
}

/*Sun*/

.sun {
  position: absolute;
  width: 130px;
  height: 130px;
  background: yellow;
  border-radius: 50%;
  top: 610px;
  left: 615px;
  transform: translateY(100%);
  animation-name: sunset;
  animation-timing-function: ease-in-out;
  animation-duration: 18s;
  animation-fill-mode: forwards;
}

/*Mountain*/

.mountain {
  position: absolute;
  top: 600px;
  left: 50px;
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 300px solid #24375B;

}

  .mountain.small {
    top: 670px;
    left: 315px;
}

  .mountain.mountain-right {
    top: 600px;
    left: 520px;
}

  @keyframes sunset {
    0% {
      transform: translateY(100%);
      background-color: orangered;
    }
    25% {
      transform: translateY(-570%);
      background-color: yellow;
    }
    50% {
      transform: translateY(-570%);
      background-color: yellow;
    }
    75% {
      transform: translateY(50%);
      background-color: orangered;
    }
    100% {
      transform: translateY(100%);
      background-color: transparent;
    }
  }

  @keyframes first-cloud {
    0% {
      transform: translateX(71%);
    }
    25% {
      transform: translateX(-45%);
    }
    50% {
      transform: translateX(-45%);
    }

  }