* {
  box-sizing: border-box;
}
.main {
  position: relative;
  display: block;
  width: 1200px;
  height: 900px;
  background-color: #fff;
  border: 3px gray solid;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;

}

/*Cloud*/

.cloud {
  position: absolute;
}

.bottom-cloud {
  position: relative;
  top: 200px;
  left: 500px;
  width: 175px;
  height: 67px;
  background-color: gray;
  border-radius: 100px;
}

.right-cloud {
  position: absolute;
  top: 170px;
  left: 600px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: gray;
}

.left-cloud {
  position: absolute;
  top: 155px;
  left: 530px;
  width: 95px;
  height: 95px;
  border-radius: 100%;
  background-color: gray;
}

/*Sun*/

.sun {
  position: absolute;
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 50%;
  }

/*Mountain*/

.mountain {
  position: absolute;
  top: 595px;
  left: 50px;
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 300px solid #24375B;
  }

  .mountain.small {
    top: 670px;
    left: 250px;
  }

  .mountain.mountain-right {
    top: 595;
    left: 500;
  }